.post{    
    max-width: 300px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-3);
    background-color: #999;
    color: #222;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
}

.post-header h2{
    background: linear-gradient(to right, #000, hsl(40, 88%, 42%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;   
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.post-image{
    width: 100%;
    height: 175px;
    border-radius: var(--border-radius-1);
    overflow: hidden;
    margin-bottom: 1rem;
}

.post-content{
    margin-bottom: 1rem;
}

.post-footer{
    display: flex;
}

.post-footer .actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.like-button{
    background-color: transparent;
    color: hsl(40, 88%, 22%);
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
}